@import "./variables";
@import "./mixins";

.leftPanel {
    @include setFlex(column, 1);
    background-color: $backgroundColor;
    font-size: 26px;
    max-height: calc(100vh - 65px);
    min-width: 430px;
    z-index: 1;
    cursor: default;
    overflow-y: scroll;
    overflow-x: visible;
    direction: rtl;

    &__flipped {
        @include setFlex(column, 1);
        direction: ltr;
    }
    
    &__foo {  /* empty div that makes leftPanel reach bottom of page and has rounded corner if needed */
        background-color: $primaryColor;
        flex-grow: 1;
    }
}