@import "../variables";
@import "../mixins";

.chatsPanel {
    @include setFlex(column, 1);
    @include fancyScrollbar(left);
    font-size: 26px;
    max-height: calc(100vh - 65px);
    min-width: 430px;
    z-index: 1;
    cursor: default;
    overflow-y: auto;
    overflow-x: visible;
    direction: rtl;
    transition: .5s;
    padding-left: 11px;

    @media (max-width: 768px) {
        min-width: 120px;
    }

    @media (max-width: 576px) {
        min-width: 70px;
    }

    &__flipped {
        @include setFlex(column, 1);
        background-color: $backgroundColor;
        direction: ltr;
    }
}