.leftPanel {
    background: grey;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: calc(100vh - 65px);
    min-width: 430px;
    z-index: 1;
    cursor: default;
    overflow-y: scroll;
    overflow-x: visible;
    direction: rtl;
}

.leftPanel__flipped {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    direction: ltr;
}

.leftPanel__chatItem {
    background: white;
    display: flex;
    flex-direction: row;
    transition: .2s;
    cursor: pointer;
}

.leftPanel__chatItem:hover {
    border-left: 5px solid #E7EB59;
    transition: .2s;
}

.active {
    background: grey;
    color: #E7EB59;
    font-size: 30px;
}

.active:hover {  /* only to cancel leftPanel__convItem hover effect */
    border-left: none
}

.active .leftPanel__lastMessage {
    display: none;
}

.beforeActive {
    border-bottom-right-radius: 30px;
}

.afterActive {
    border-top-right-radius: 30px;
}

.leftPanel__foo {  /* empty div that makes leftPanel reach bottom of page */
    background-color: white;
    flex-grow: 1;
}

.leftPanel__nameSurname {
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: 20px;
}

.leftPanel__lastMessage {
    font-size: 13px;
    font-weight: lighter;
    color: #555;
    margin-top: 20px;
    margin-left: 20px;
}