.messages {
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 18px;
    height: 100%;
    width: 100%;
}

.messages__container {
    display: flex;
}

.messages__container__displayContent {
    display: flex;    /* make singleMessages fit their content */
    flex-direction: column;
    color: white;
    width: 100%;
    max-height: calc(100vh - 145px);
    overflow-y: scroll;
    padding-right: 30px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #E7EB59;
    border: 2px solid black;
}

.messages__singleMessage {
    position: relative;
    border-radius: 20px;
    letter-spacing: 1px;
    padding: 10px 20px;
    margin: 10px;
    max-width: 60%;
    cursor: default;
}

.messages__singleMessage__tooltip {
    background: darkgray;
    font-size: 11px;
    position: absolute;
    top: 10px;
    border-radius: 5px;
    padding: 8px;
    opacity: 0;
    z-index: 100;
}

.myMsg > .messages__singleMessage__tooltip {
    right: calc(100% + 10px);
}

.messages__singleMessage__tooltip::after {
    content: "";
    position: absolute;
    top: 8px;
    border-width: 5px;
    border-style: solid;
}

.myMsg > .messages__singleMessage__tooltip::after {
    left: 100%;
    border-color: transparent transparent transparent darkgray;
}

.receivedMsg > .messages__singleMessage__tooltip::after {
    right: 100%;
    border-color: transparent darkgray transparent transparent;
}

.receivedMsg > .messages__singleMessage__tooltip {
    left: calc(100% + 10px);
}

.messages__singleMessage:hover > .messages__singleMessage__tooltip {
    opacity: 100%;
    transition: opacity .2s linear 1s;  /* property duration type delay */
}

.receivedMsg {
    background: black;
    margin-left: 10px;
    margin-right: auto;
}

.myMsg {
    background: #E7EB59;
    margin-right: 10px;
    margin-left: auto;
}

.topSticky.myMsg{
    margin-top: 1px;
    border-top-right-radius: 0;
}

.topSticky.receivedMsg{
    margin-top: 1px;
    border-top-left-radius: 0;
}

.bottomSticky.myMsg {
    margin-bottom: 1px;
    border-bottom-right-radius: 0;
}

.bottomSticky.receivedMsg {
    margin-bottom: 1px;
    border-bottom-left-radius: 0;
}

.messages__time {
    font-size: 12px;
    text-align: center;
    color: #E7EB59;
    margin-top: 15px;
}