.messages {
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 18px;
    height: 100%;
    width: 100%;
}

.messages__container {
    display: flex;
}

.messages__container__displayContent {
    display: flex;    /* make singleMessages fit their content */
    flex-direction: column;
    color: white;
    width: 100%;
    max-height: calc(100vh - 145px);
    overflow-y: scroll;
    padding-right: 30px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #E7EB59;
    border: 2px solid black;
}

.messages__singleMessage {
    border-radius: 20px;
    letter-spacing: 1px;
    padding: 10px 20px;
    margin: 10px;
    max-width: 60%;
    cursor: default;
}

.receivedMsg {
    background: #111;
    margin-left: 10px;
    margin-right: auto;
}

.myMsg {
    background: #E7EB59;
    margin-right: 10px;
    margin-left: auto;
}

.topSticky.myMsg{
    margin-top: 1px;
    border-top-right-radius: 0;
}

.topSticky.receivedMsg{
    margin-top: 1px;
    border-top-left-radius: 0;
}

.bottomSticky.myMsg {
    margin-bottom: 1px;
    border-bottom-right-radius: 0;
}

.bottomSticky.receivedMsg {
    margin-bottom: 1px;
    border-bottom-left-radius: 0;
}

.messages__time {
    font-size: 12px;
    text-align: center;
    color: #E7EB59;
    margin-top: 15px;
}