@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.newMessageInput {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.newMessageInput__input {
    background: black;
    flex-grow: 1;
    font-size: 18px;
    text-align: left;
    color: white;
    width: auto;
    height: 40px;
    padding: 0 10px;
    margin: 18px;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: .2s;
}

.newMessageInput__input:focus {
    border-color: #E7EB59;
    transition: .2s;
}

.newMessageInput__btn {
    width: 40px;
    height: 40px;
    margin: 20px 20px 20px 0;
    transition: .2s;
    cursor: pointer;
}

.newMessageInput__btn:hover {
    filter: brightness(0%);
    transition: .2s;
    width: 35px;
    height: 35px;
}