.rightPanel {
    background: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: calc(100vh - 125px);
    min-width: 350px;
    max-width: 350px;
    padding: 40px 20px 20px 40px;
    cursor: default;
    overflow-y: scroll;
}

.rightPanel__userAvatar {
    width: 200px;
    height: 200px;
    border: 5px solid #E7EB59;
}

.rightPanel__nameSurname {
    font-weight: bold;
    font-size: 26px;
    margin-top: 40px;
}

.rightPanel__username {
    font-weight: lighter;
    font-size: 15px;
    color: grey;
}