.search {
    background: white;
    display: flex;
    font-size: 18px;
    text-align: left;
    color: grey;
    width: 430px;
    border-bottom: 5px solid #E7EB59;
}

.search__container {
    display: block;
    width: 100%;
    margin: 0;
}

.search__queryInput {
    background: #999;
    display: block;
    font-size: 18px;
    color: white;
    width: auto;
    margin: 0 auto auto auto;
    padding: 6px 15px;
    outline: none;
    cursor: text;
}

ul {
    padding: 0;
    list-style-type: none;
    text-align: left;
    margin: 0;
    border: none;
}

li {
    display: block;
    padding: 2px 20px;
    cursor: pointer;
    margin-top: 2px;
    transition: .2s;
}
li:hover {
    background: grey;
    color: #E7EB59;
    transition: .2s;
}